
<div class="col-md-4" id="new-phrase">
  <div class="jumbotron">
    <h2>Hello, <%= session[:username] %>!</h2>
    <p>I want to play with you in the game.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </div>
</div>
<div class="col-md-4" >
  <table class="table">
    <thead>
      <th>
        List
      </th>
      <th></th>
    </thead>
    <tbody class="phrases">
      <% @phrases.each do |phrase| %>
      <tr>
        <td class="dash-phrase">
          <div class="phrase" data-id="<%= phrase.id %>">
            <%= phrase.name %>
          </div>
          <div class="edit-phrase" id="edit-phrase-id-<%= phrase.id %>">
            <br>
            <form role="form" class="form-inline">
              <div class="form-group">
                <input type="hidden" name="phrase[id]" value="<%= phrase.id %>">
                <input type="text" name="phrase[name]" class="form-control" id="phrase-name-<%= phrase.id %>" placeholder="Continue phrase" />
              </div>
              <input class="btn btn-default update-phrase" type="submit" data-id="<%= phrase.id %>" value="Add" />
            </form>
          </div>
        </td>
        <td>
          <a href="#" class="show-history"><span class="glyphicon glyphicon-th-list"></span></a>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="col-md-4" id="history">
</div>
